/*

	Design by TEMPLATED
	http://templated.co
	Released for free under the Creative Commons Attribution License

	Name       : Eponymous
	Version    : 1.0
	Released   : 20130222
	
*/

* {
	margin: 0;
	padding: 0;
}

a {
	color: #d43535;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

body {
	font-size: 12pt;
	line-height: 1.75em;
	font-family: Arial, sans-serif;
	background:#131111;
	color: #c0c1c1;
}

br.clear {
	clear: both;
}

h2,h3,h4 {
	margin-bottom: 1em;
	font-family: Arvo, serif;
	color: #ffffff;
}

img.left {
	float: left;
	margin: 5px 20px 20px 0;
}

img.top {
	margin: 5px 0 20px 0;
}

p {
	margin-bottom: 1.5em;
}

ul {
	margin-bottom: 1.5em;
}

.imageList {
	list-style: none;
}

.imageList li {
	clear: both;
}
	
#bg {
	/*background: url('images/shadow.png') top left repeat-x;*/
	padding: 25px 80px 0;
}

#banner {
	justify-content: center;
	padding: 30px;
	height: 104px;
	width: 855px;
	margin: 0px 0 0 265px;
	background: #ffffff;
	/*background-position: center;*/
	/*left: 160px;*/
}

#box1 {
	margin: 0px 0 25px 0;
	overflow: hidden;
}

#box2 {
	margin: 0px 0 25px 0;
	overflow: hidden;
	border-image-width: auto;
}

#content {
	width: 855px;
	margin: 0px 0 0 265px;
	padding: 30px;
	background: #ffffff;
}

#copyright {
	margin: 40px 0 0 0;
	text-align: center;
	color: #ffffff;
	background-color: #131111;
	font-size: 0.9em;
}

#copyright a {
	color: #a50404;
}

#footer {
	position: relative;
	padding: 30px;
	width: 1120px;
	background: #313131;
	color: #addbea;
}

#footer a {
	color: #e2f2f8;
}

#footer h2, #footer h3, #footer h4 {
	color: #ffffff;
}

#footer ul {
	list-style: none;
	margin-bottom: 0;
}

#footer p {
	margin-bottom: 0;
}

#footer ul li {
	padding: 10px 0 10px 0;
	border-top: dashed 1px #6dbfda;
}

#footer ul li.first {
	padding-top: 0;
	border-top: 0;
}

#footerContent {
	width: 855px;
	margin: 0px 0 0 265px;
}

#footerSidebar {
	width: 180px;
	float: left;
}

#header {
	position: relative;
	padding: 30px;
	height: 80px;
	width: 1120px;
}

#logo {
	position: relative;
	top: 30px;
	/*left: 30px;*/
	height: 80px;
	line-height: 100px;
}

#logo a {
	text-decoration: none;
	color: #ffffff;
}

#logo h1 {
	font-size: 2.75em;
	font-family: Arvo, serif;
}

#main {
	position: relative;
	padding: 0px;
	margin: 30px 0 0 0;
	width: 1180px;
	color: #6b6b6b;
}

#main a {
	color: #262626;
}

#main strong {
	color: #404040;
}

#main h2, #main h3, #main h4 {
	color: #141414;
}

#main ul {
	list-style: none;
}

#main ul li {
	padding: 10px 0 10px 0;
	border-top: dashed 1px #bfbfbf;
}

#main ul li.first {
	padding-top: 0;
	border-top: 0;
}

#mainimage {
	max-width: 100%;
}

#nav {
	position: absolute;
	right: 60px;
	height: 48px;
	top: 90px;
	font-family: Arvo, serif;
	font-size: 1.1em;
}

#nav ul {
	list-style: none;
}

#nav ul li {
	float: left;
	margin: 0 0.5em 0 0.5em;
	padding: 0.25em 1.1em 0.25em 1.1em;
}

#nav ul li.active {
	background: #3CA9CD;
}

#nav li a {
	text-decoration: none;
	color: #d9dada;
}

#nav ul li.active a {
	color: #ffffff;
}
	
#outer {
	position: relative;
	width: 1180px;
	margin: auto;
}

#search input.button {
	margin-left: 1em;
	border: 0px;
	color: #ffffff;
	background: #d43535;
	padding: 6px;
}

#search input.text {
	border: dashed 1px #ffffff;
	padding: 5px;
}

#sidebar {
	width: 180px;
	float: left;
	padding: 30px;
	color: #959797;
}

#sidebar a {
	color: #d9dada;
}

#sidebar h2, #sidebar h3, #sidebar h4 {
	color: #ffffff;
}

#sidebar ul {
	list-style: none;
}

#sidebar ul li {
	padding: 10px 0 10px 0;
	border-top: dashed 1px #424545;
}

#sidebar ul li.first {
	padding-top: 0;
	border-top: 0;
}

/* The grid: Four equal columns that floats next to each other */
.column {
	/*float:left*/
	width: 100%;
	padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
	opacity: 0.8;
	cursor: pointer;
	width: 25%;
  }
  
  .column img:hover {
	opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .container {
	position: relative;
	display: none;
  }
  
  /* Expanding image text */
  #imgtext {
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: white;
	font-size: 20px;
  }
  
  /* Closable button inside the image */
  .closebtn {
	position: absolute;
	top: 10px;
	right: 15px;
	color: white;
	font-size: 35px;
	cursor: pointer;
  }